/* fonts from google*/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Animation*/

@keyframes slideInLeft {

  from {
    transform: translateX(-100px);
  }

  to {
    transform: translateX(0px);
  }
}
@keyframes animate-top {

  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0px);
  }
}

/* Global tags */

h2 {
  font-size: 2.3rem;
  font-weight: 700;
  color: rgb(2, 11, 92);
  font-family: "Poppins", sans-serif;
  font-style: normal;

}

span {
  font-size: 3.9rem;
  color: #ffffff;
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

/* navigation */

 nav {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 4vw;
  background: #ffffff;
  box-shadow: 2px 2px 10px rgba(25, 25, 26, 0.7);
  z-index: 999;
}

nav img {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

nav .navigation {
  display: flex;
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
 }

 #menu-close {
  width: 28px;
  height: 28px;
  display: none;
 }

 .navigation ul {
   display: inline-flex;
   list-style: none;
   color: #fff;
 }

nav .navigation ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation ul li{
  position: relative;
  width: 120px;
  margin: 15px;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 50px;
  width: 60px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: #55041c;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.3 ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover{
  color: #fdc938;
}
 /*HOME SECTION*/

 #home {
  background-image: url();
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 .bgimg{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/levite\ university\ backg\ copy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: bgChange 20s linear infinite;
 }

 @keyframes bgChange {
   0% {
    background-image: url('img/levite\ university\ backg\ copy.webp');
   }
   20% {
    background-image: url('img/levite\ university\ backg\ copy.webp');
   }
   25% {
    background-image: url('img/leu\ bg\ 1.webp');
   }
   45% {
    background-image: url('img/leu\ bg\ 1.webp');
   }
   50% {
    background-image: url('img/leu\ bg\ 2.webp');
   }
   70% {
    background-image: url('img/leu\ bg\ 2.webp');
   }
   75% {
    background-image: url('img/leu\ bg\ 3.webp');
   }
   90% {
    background-image: url('img/leu\ bg\ 3.webp');
   }
   95% {
    background-image: url('img/leu\ bg\ 4.webp');
   }
 }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


 #home h1 {
  position: relative;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 700px;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #home h4 {
  margin-left: 30px;
  margin-top: 120px;
  margin-right: 1075px;
  color: rgb(221, 199, 3);
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
 }

 #home p {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 700px;
  color: white;
  font-size: 0.9rem;
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
 }

 #home .btn{
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 700px;
 }

 #home a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
 }

 #home a.blue{
  color: white;
  background: rgb(21, 21, 100);
  margin-right: 10px;
 }
 
 #home a.blue:hover {
  background: #55041c;
  color: white;
  transition: all 0.3s ease;
 }

 #home a.yellow{
  color: white;
  background: rgb(21, 21, 100) ;
 }
 
 #home a.yellow:hover {
  background: #55041c;
  color: white;
  transition: all 0.3s ease;
 }

 /*STUDY*/

 .sub-menu-1 {
  display: none;
 }

 .navigation ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: whitesmoke;
  margin-top: 3px;
  margin-left: -15px;

 }

 .navigation ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
 }

 .navigation ul li:hover .sub-menu-1 ul li{
  width: 200px;
  padding: 10px;
  border-bottom: 1px dotted #55041c;
  background: transparent;
  border-radius: 5px;
  text-align: left;
  float: left;
 }

 .navigation ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
 }

 .navigation ul li:hover .sub-menu-1 ul li a:hover {
  color: #fdc938;
 }

 #study {
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 80px;
 }

 #study .study-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/undergraduate.jpg);
  min-width: 580px;
  margin-top: 40px;
  height: 75vh;
  background-size: cover;
  background-position: bottom;
  padding-top: 180px;
  padding-left: 25px;
  transition: 0.4s ease-in;
 }

 #study .study-box:hover {
   transform: scale(1.05);
 }

 #study .research-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/research\ blur.jpg);
  min-width: 580px;
  margin-top: 80px;
  height: 75vh;
  background-size: cover;
  background-position: bottom;
  padding-top: 180px;
  padding-left: 25px;
  transition: 0.4s ease-in;
 }

 #study .research-box2:hover {
  transform: scale(1.05);
}

  #study h2 {
  padding-top: 5px;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  }

  #study p {
    font-size: 3.0rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: whitesmoke;
  }

  #study {
    animation: slideInLeft 1s ease-in 1s 1 normal both;
  }

  #study a {
   text-decoration: none;
  }

  /*Research*/

  /*Facilities*/

  #faci {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 20px;
  }

  .faci-h1{
    font-family: sans-serif;
    color: #55041c;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }

  #faci .faci-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),  
     url(facilities/sci\ lab.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), 
     url(facilities/art\ lab.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),  
     url(facilities/computer.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/library.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/gym.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/health.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/admin\ centre.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image:
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),  url(facilities/restaurant.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/football.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.1) 0%,
    rgba(0,0,0,0.3) 100%),  url(facilities/tennis.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/basket\ ball.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci .faci-box12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: 
    linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%), url(facilities/pool.jpg);
    min-width: 580px;
    border-radius: 10px;
    height: 75vh;
    background-size: cover;
    background-position: bottom;
    padding: 30px;
    margin-bottom: 60px;
    transition: 0.4s ease-in;
  }

  #faci h2 {
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 900;
  }

  #faci .faci-box1:hover {
    transform: scale(1.05);
  }

  #faci .faci-box1 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box1:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box2:hover {
    transform: scale(1.05);
  }

  #faci .faci-box2 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box2:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box3:hover {
    transform: scale(1.05);
  }

  #faci .faci-box3 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box3:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box4:hover {
    transform: scale(1.05);
  }

  #faci .faci-box4 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box4:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box5:hover {
    transform: scale(1.05);
  }

  #faci .faci-box5 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box5:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box6:hover {
    transform: scale(1.05);
  }

  #faci .faci-box6 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box6:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box7:hover {
    transform: scale(1.05);
  }

  #faci .faci-box7 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box7:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box8:hover {
    transform: scale(1.05);
  }

  #faci .faci-box8 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box8:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box9:hover {
    transform: scale(1.05);
  }

  #faci .faci-box9 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box9:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box10:hover {
    transform: scale(1.05);
  }

  #faci .faci-box10 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box10:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box11:hover {
    transform: scale(1.05);
  }

  #faci .faci-box11 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box11:hover button {
    background: #088178;
    border: 1px solid #088178;
  }
  #faci .faci-box12:hover {
    transform: scale(1.05);
  }

  #faci .faci-box12 button {
    color: white;
    background: #55041c;
    border-radius: 5px;
    outline: none;
  }

  #faci .faci-box12:hover button {
    background: #088178;
    border: 1px solid #088178;
  }

  button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
  }

  /*Campus*/
  
  #campus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 80px;
  }

   .head-h1{
    font-family: sans-serif;
    color: #55041c;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
  }

  #campus .campus-box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),
    url(campus/camp1.jpg) ;
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: 0.4s ease-in;
    cursor: pointer;
  }

  #campus .campus-box1:hover {
    transform: scale(1.08);
  }

  #campus .campus-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),
    url(campus/camp2.jpg) ;
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: 0.4s ease-in;
    cursor: pointer;
  }

  #campus .campus-box2:hover {
    transform: scale(1.08);
  }

  #campus .campus-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),
    url(campus/camp3.jpg);
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: 0.4s ease-in;
    cursor: pointer;
  }

  #campus .campus-box3:hover {
    transform: scale(1.08);
  }

  #campus .campus-box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.5) 100%),
    url(campus/camp4.jpg);
    min-width: 30%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    transition: 0.4s ease-in;
    cursor: pointer;
  }

  #campus .campus-box4:hover {
    transform: scale(1.08);
  }

  #campus h2 {
    font-family: sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
  }

  #campus h3 {
    font-family: sans-serif;
    color: rgb(247, 33, 33);
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
  }

 /*Features*/

 #features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
 }

 #features h1 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(21, 21, 100);
 }

 #features p {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(26, 26, 41);
 }

 #features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
 }

 #features .fea-box {
  background: #f9f9ff;
  text-align: start;
  padding: 12px 15px;
 }

 #features .fea-box h3 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(21, 21, 100);
  padding: 13px 0 7px 0;
 }

 #features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: rgb(70, 70, 87);
 }

 /*Course*/

 #course {
  padding: 10vw 10vw 8vw 8vw;
  text-align: center;
 }

 .courses {
  animation: animate-top 1s ease-in 1s 1 normal both;
}

 #course h1 {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(21, 21, 100);
 }

 .courses h2 {
  color: white;
  padding-top: 360px;
  padding-left: 10px;
  position: absolute;
  cursor: pointer;
 }

 #course p {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(26, 26, 41);
 }

 #course .btn{
  margin-top: 50px;
  align-items: center;
 }

 #course a{
  text-decoration: none;
 }

 #course a.blue{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
 }

 #course a.blue{
  color: white;
  background: rgb(21, 21, 100);
 }
 
 #course a.blue:hover {
  background: #55041c;
  color: white;
  transition: all 0.3s ease;
 }

 #course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
 }

 #course .courses {
  text-align: start;
  background: #f9f9ff;
  height: 100%;
  transition: 0.4s ease-in;
 }

 #course .courses:hover {
  transform: scale(1.05);
}

 #course .courses .course-img {
   width: 100%;
   height: 100%;
   background-size: cover;
   background-position: center;
   border-radius: 15px;
   
 }

 #course .courses .details {
  padding: 15px 15px 0 15px;
 }

 /*registration*/

 #registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5))
  , url(img/login.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 #registration .remainder {
  color: white;
 }

 #registration .remainder h1 {
  color: white;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
 }
 
 #registration .remainder .time {
  display: flex;
  margin-top: 40px;
 }

 #registration .remainder .time .date {
  text-align: center;
  padding: 30px 33px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 5px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
 }

 #registration .form {
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 }

 #registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(84, 40, 241);
  outline: none;
 }

 #registration .form input::placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
 }

 #registration .form .btn {
  margin-top: 20px;
 }

 #registration .form a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background: #55041c;
    transition: all 0.3s ease;
 }
 
 #registration .form a.yellow:hover {
  background: white;
  color:  #55041c;
  transition: all 0.3s ease;
 }

 .form h3 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
 }

 /*Community experts*/

 #experts {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
 }

 #experts h1 {
  font-size: 2.0rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgb(21, 21, 100);
 }

 #experts p {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(26, 26, 41);
 }

 #experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
 }

 #experts .expert-box .profile {
  background: #fafaf1;
  padding: 30px 10px;
 }

.pro-links {
  margin-top: 10px;
  cursor: pointer;
 }

 .profile-img {
  border-radius: 50%;
 }

 /*footer*/

 footer {
  padding: 8vw;
  background-color: #55041c;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
 }

 footer .footer-col {
  padding-bottom: 40px;
 }

 footer h3 {
  color: white;
  font-weight: 600;
  padding-bottom: 20px;
 }

 footer li {
  list-style: none;
  color: #bd8b93;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
 }

 footer a{
  color: #bd8b93;
  text-decoration: none;
 }

 footer a:hover{
  color: #fff;
  transition: 0.3s ease;
 }

 footer li a{
  text-decoration: none;
 }

 footer li:hover {
  color: rgb(241, 240, 245);
 }

 footer p {
  color: #c2bbbc;
 }

 footer .subscribe {
  margin-top: 20px;
 }

 footer input {
  width: 220px;
  padding: 15px 12px;
  background: #ffffff;
  border: none;
  outline: none;
  color: #fff;
 }

 footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px 15px;
    background-color: white;
    font-weight: 600;
   }

   footer a.yellow{
    color: white;
    background: #ffaf03;
    text-decoration: none;
   }
   
   footer a.yellow:hover {
    background: white;
    color:  #580404;
    transition: all 0.3s ease;
    text-decoration: none;
   }
 
   footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
   }
   .copyright p {
    color: white;
    font-family: sans-serif;
    font-size: 0.9rem;
   }

    /*About home*/

 #about-home {
  background-image: linear-gradient(180deg, rgba(168, 119, 119, 0.3) 0%,
  rgba(0,0,0,0.5) 100%), url(aboutimg/abouthomr.jpg);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 #about-home h2 {
  position: relative;
  padding-left: 40px;
  align-self: left;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #about-home h4 {
  color: rgb(167, 2, 2);
  align-self: left;
  padding-left: 40px;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
 }

 #about-container {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
 }

 #about-container .about-img  {
  width: 60%;
  padding-right: 60px;
 }

 #about-container .about-img img  {
  width: 100%;
 }

 #about-container .about-text {
  width: 40%;
 }

 #about-container .about-text h3 {
  padding-bottom: 15px;
 }

 #about-container .about-text p {
  font-weight: 300;
  font-family: sans-serif;
 }
 
 #about-container .about-text .about-fea {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
 }

 #about-container .about-text .about-fea img{
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
 }

 #about-container .about-text .about-fea .fea-text {
  width: 90%;
 }

 #about-container .about-text .about-fea .fea-text h5{
  font-size: 20px;
  font-weight: 700;
 }
 
 /*Story-about*/

 #ourstory {
  display: flex;
  align-items: center;
  padding: 8vw 8vw 2vw 8vw;
 }

 .story-text h3 {
  padding-bottom: 20px;
  color: rgb(21, 21, 100);
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: Impact;
  font-weight: 500;
 }

 .story-text p {
  padding-top: 15px;
  color: #5a5959;
  font-size: 1.1rem;
  font-family: sans-serif;
 }

 .story-img img {
  
  width: 50px;
  background-size: cover;
  background-position: center;
  margin-left: 40px;
 }

 #ourstory .story-img img {
  width: 90%;
 }

 #trust {
  text-align: center;
  padding: 8vw;
 }

 #trust h1 {
  padding-bottom: 10px;
  color: rgb(21, 21, 100);
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: Impact;
  font-weight: 500;
 }

 #trust p {
  
  color: #5a5959;
  font-size: 1.1rem;
  font-family: sans-serif;
 }

 #trust .trust-img{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 #trust .trust-img img{
  width: 90px;
  height: auto;
 }

 /*Blog*/

 #blog-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8vw;
 }
  
 #blog-container .blogs{
  width: 60%;
 }

 #blog-container .blogs img{
  width: 80%;
  border-radius: 40px;
  height: 50vh;
 }

 #blog-container .blogs .post {
  padding-bottom: 60px;
 }

 #blog-container .blogs .post h3{
  color: #293038;
  font-family: sans-serif;
  padding: 15px 0 10px 0;
 }

 #blog-container .blogs .post p{
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 25px;
  color: #757373;
  font-family: sans-serif;
  padding-bottom: 20px;
 }

 #blog-container .blogs .post a{
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  padding: 13px 35px;
  background-color: rgb(21, 21, 100);
  border-radius: 5px;
  font-weight: 600;
 }

 #blog-container .cate{
  width: 30%;
 }

 #blog-container .cate h2{
  padding-bottom: 7px;
 }

 #blog-container .cate a{
  text-decoration: none;
  color: #757373;
  font-weight: 500;
  line-height: 45px;
 }

 /*post*/
 #blog-container .blogpost {
  width: 60%;
  margin: 0 auto;
 }

 #blog-container .blogpost p{
   text-align: justify;
   padding-bottom: 60px !important;
 }

 #study .study-box .boxbox {
  padding: 8vw;
 }

 /*course-acc*/

 #course-acc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vw;
 }

 #course-acc h3 {
  padding: 35px 0 25px 0;
  color: #293038;
  font-family: sans-serif;
  font-size: 22px;
 }

 #course-acc p {
  color: #64626e;
  font-family: "Poppins";
  text-align: justify;
  font-size: 20px;
 }
 #course-acc hr {
  height: 1px;
  background: rgba(236, 226, 229, 0.5);
  margin-top: 40px;
 }

 #course-acc .overview {
  width: 70%;
 }
 
 #course-acc .overview .course-img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
 }

 #course-acc .overview .course-head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
 }

 #course-acc .overview .course-head .c-name{
  width: 70%;
 }

 #course-acc .overview .course-head .c-name h2 {
  color: #55041c;
  margin: 10px 0;
 }

 #course-acc .overview .course-head .c-name p {
  color: #292828;
  margin: 10px 0;
  font-size: 22px;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
 }

 #course-acc .overview .course-head a{
  padding: 15px 25px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  background: #55041c;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
 }

 #course-acc .learn p{
   font-size: 20px;
   padding-bottom: 5px;
   margin-bottom: 5px;
   color: #293038;
   font-family: "Poppins";
 }

 #course-acc .learn p i{
  font-weight: 500;
  margin-right: 20px;
  color: #55041c;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
 }

 #course-acc .learn img{
  margin-top: 15px;
  margin-right: 20px;
 }

 #course-acc .tutor {
  display: flex;
 }

 #course-acc .tutor img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
 }

 #course-acc .tutor h5 {
  font-size: 15px;
  font-family: sans-serif;
  color: black;
  font-weight: 700;
 }

 #course-acc .apply {
  width: 300px;
  padding: 0px 30px 30px 30px;
  border-radius: 11px;
  box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
 }

 #course-acc .apply h3 {
  padding-bottom: 10px;
  font-family: sans-serif;
  font-size: 22px;
 }

 #course-acc .apply p {
  font-size: 16px;
  color: #64626e;
  margin: 15px 0;
  font-family: sans-serif;
 }

 #course-acc .apply p i {
  font-weight: 500;
  margin-right: 15px;
  color: #654ce4;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
 }

 #course-acc .apply .apply-btn {
  padding: 25px 0 20px 0;
  margin: auto;
  text-align: center;
 }

 #course-acc .apply .apply-btn a {
  text-decoration: none;
  font-size: 1.0rem;
  padding: 14px 30px;
  border-radius: 5px;
  font-weight: 600;
  color: #fff;
  background: rgb(50, 50, 136);
  font-family: Georgia;
 }

 /*Contact us*/

 #contact {
  padding: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 }

 #contact .get-in{
  width: 350px;
 }

 #contact .get-in h2 {
  color: #2c234d;
  font-size: 30px;
  font-weight: 800;
  line-height: 0.8;
  margin-bottom: 16px;
 }

 #contact .get-in h3 {
  color: #2c234d;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
  font-family: sans-serif;
 }

 #contact .get-in p {
  color: #686875;
  line-height: 22px;
  margin-bottom: 33px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e4ed;
  font-family: sans-serif;
 }

 #contact .get-in .getin-det div {
  display: flex;
 }

 #contact .get-in .getin-det div .get {
  font-size: 16px;
  line-height: 22px;
  margin-right: 20px;
  color: #5838fc;
 }

 #contact .get-in .getin-det div p {
  border-bottom: none;
  line-height: 22px;
  margin-bottom: 15px;
 }

 #contact .get-in .getin-det i {
  margin-right: 16px;
  font-size: 24px;
  justify-content: space-between;
 }

 #contact .get-in .getin-det .pro-links img {
  margin-right: 16px;

  justify-content: space-between;
 }

 #contact .form {
  width: 60%;
  background: #f7f6fa;
  padding: 40px;
  border-radius: 10px;
 }

 #contact .form h4 {
  font-size: 24px;
  font-weight: 800;
  font-family: sans-serif;
  color: #2c234d;
  line-height: 30px;
  margin-bottom: 8px;
 }

 #contact .form p {
  color: #686875;
  line-height: 22px;
  padding-bottom: 25px;
  font-family: sans-serif;
 }

 #contact .form .form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
 }

 #contact .form .form-row input {
  width: 40%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
 }

 #contact .form .form-col input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
 }

 #contact .form .form-col textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px;
  border: none;
  background: white;
  color: #7e7c87;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 20px;
 }

 #contact .form button {
  font-size: 0.9rem;
  padding: 13px 25px;
  background: rgb(21, 21, 100);
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
 }

 #map {
  width: 100%;
  height: 70vh;
  margin-bottom: 8vw;
 }

 #map iframe {
  width: 100%;
  height: 100%;
 }

 /*UnderGraduate*/

 #about-under {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.2) 0%,
  rgba(0,0,0,0.4) 100%),
  url(genimg/underg.jpg);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 #about-under h2 {
  position: relative;
  padding-left: 40px;
  align-self: left;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #about-under h4 {
  color: rgb(180, 177, 177);
  align-self: left;
  padding-left: 40px;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
 }
 /*about-blog*/

 #about-blog {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.3) 0%,
  rgba(58, 58, 58, 0.5) 100%);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 #about-blog h2 {
  position: relative;
  padding-left: 40px;
  align-self: left;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #about-blog h4 {
  color: rgb(230, 215, 215);
  align-self: left;
  padding-left: 40px;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
 }
 /*about-contact*/

 #about-contact {
  background-image: url(aboutimg/about\ lev\ bg.webp);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 #about-contact h2 {
  position: relative;
  padding-left: 40px;
  align-self: left;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #about-contact h4 {
  color: rgb(167, 2, 2);
  align-self: left;
  padding-left: 40px;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
 }
 /*about-acc*/

 #about-acc {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.2) 0%,
  rgba(0,0,0,0.4) 100%),
  url(genimg/acc\ bg.jpg);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 #about-acc h2 {
  position: relative;
  padding-left: 40px;
  align-self: left;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #about-acc h4 {
  color: rgb(167, 2, 2);
  align-self: left;
  padding-left: 40px;
  font-size: 1.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
 }
 /*Facilities*/

 #about-faci {
  background-image: linear-gradient(180deg, rgba(0,0,0,0.4) 0%,
  rgba(0,0,0,0.6) 100%),
  url(genimg/facility\ bg.jpg);
  width: 100%;
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: top;
  text-align: start;
  padding-top: 40px;
 }

 #about-faci h2 {
  position: relative;
  padding-left: 40px;
  align-self: left;
  color: white;
  font-size: 2.0rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  z-index: 2;
 }

 #about-faci h4 {
  color: rgb(207, 203, 203);
  align-self: left;
  padding-left: 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
 }
   /*media screen Tab*/

   @media (max-width: 769px){
    
    nav {
      padding: 15px 20px;
    }

    nav img {
      width: 50px;
    }

    #home {
     padding-top: 180px;
    }

    #home p {
      width: 70%;
    }

    #home h1 {
      width: 70%;
    }

    #home h4 {
      padding-top: 250px;
      width: 50%;
    }

    #home .btn {
      width: 70%;
    }

    #menu-btn {
      display: initial;
     }
    
     #menu-close {
      display: initial;
      margin-top: 30px;
     }

     nav .navigation ul {
      position: absolute;
      top: 0;
      right: -220px;
      width: 220px;
      background: rgb(99, 4, 28);
      backdrop-filter: blur(4.5px);
      border: 1px solid #833838;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 0.3s ease;
     }

     nav .navigation ul.active{
      right: 0;
     }

     nav .navigation ul li {
      padding: 20px 0 20px 40px;
      margin-left: 0;
     }

     nav .navigation ul li a{
      color: white;
     }

     #home {
      padding-top: 0px;
     }

     #features {
      padding: 8vw 4vw 0 4vw;
     }

     #course {
      padding: 8vw 4vw 0 4vw;
      margin-bottom: 40px;
     }

     #study .study-box {
       min-width: 100%;
      height: 40vh;
     }

     #study .research-box2 {
       min-width: 100%;
      height: 40vh;
     }

     #registration {
      margin-top: 8vw;
      padding: 6vw 4vw 6vw 4vw;
     }

     #registration .remainder .time {
      display: flex;
      flex-wrap: wrap;
      margin-top: 40px;
     }

     #experts {
      padding: 8vw 8vw 4vw 8vw;
      text-align: center;
     }

     #ourstory {
      padding: 8vw 4vw 2vw 4vw;
     }

     #about-container {
      padding: 8vw 4vw 2vw 4vw;
     }

     #trust .trust-img img {
      width: 50px;
      height: auto;
     }

     /*Blog*/

     #blog-container {
      padding: 8vw 4vw;
     }

     /*post*/
     #blog-container .blogpost {
      width: 100%;
      margin-top: 50px;
     }

     #blog-container .blogpost img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
     }
     /*course-acc*/

     #course-acc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 8vw 4vw;
     }

     #course-acc .overview {
      width: 100%;
     }

     #course-acc .overview .course-img {
      width: 100%;
      height: 100%;
     }

     #course-acc .apply {
      margin-top: 25px;
     }

     #contact {
      padding: 8vw 4vw;
    }
 
     #contact .get-in {
       width: 250px;
    }

    #faci {
      justify-content: center;
    }

    #faci .faci-box1 {
      height: 40vh;
  }
    #faci .faci-box2 {
      height: 40vh;
  }
    #faci .faci-box3 {
      height: 40vh;
  }
    #faci .faci-box4 {
      height: 40vh;
  }
    #faci .faci-box5 {
      height: 40vh;
  }
    #faci .faci-box6 {
      height: 40vh;
  }
    #faci .faci-box7 {
      height: 40vh;
  }
    #faci .faci-box8 {
      height: 40vh;
  }
    #faci .faci-box9 {
      height: 40vh;
  }
    #faci .faci-box10 {
      height: 40vh;
  }
    #faci .faci-box11 {
      height: 40vh;
  }
    #faci .faci-box12 {
      height: 40vh;
  }

    #campus {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; 
  }
    }

   /*media screen smartphones*/

   @media (max-width: 475px) {

     #registration {
     text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center; 
   }  

   #registration .remainder .time {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
}
     #study {
      width: 80%;
      margin-left: 38px;
     }

     #study h2 {
      font-size: 1.0rem;
     }

     #study p {
      font-size: 2.0rem;
     }

    #study .study-box {
      height: 40vh;
      padding-bottom: 60px;
    }

    #study .research-box2{
      height: 40vh;
      margin-top: 20px;
      padding-bottom: 60px;
    }

#home {
  padding-top: 6vh;
  padding-left: 0px;
}

#home p {
  width: 80%;
}

#home h1 {
  width: 80%;
}

#home h4 {
  padding-top: 0px;
  width: 90%;
}

#home .btn {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.yellow {
  margin-top: 10px;
}

.courses h2 {
  width: 100%;
}

.navigation ul li:hover .sub-menu-1 {
  margin-left: 32px;
  float: center;
 }

 .navigation ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
 }

#about-home h2 {
  font-size: 1.8rem;
}
#about-under h2, h4{
text-align: left;
font-size: 20px;
}
#about-home h2, h4{
text-align: left;
font-size: 20px;
}
#about-blog h2, h4{
text-align: left;
font-size: 20px;
}
#about-faci h2, h4{
text-align: left;
font-size: 15px;
}
#about-acc h2, h4{
text-align: left;
font-size: 20px;
}

#ourstory {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ourstory .story-text {
  padding-bottom: 30px;
}

#ourstory .story-img {
  width: 100%;
  padding-right: 20px;
}

#about-container {
  flex-direction: column-reverse;
}

#about-container .about-img {
  width: 100%;
  padding-right: 40px;
}

#about-container .about-text {
  width: 100%;
  padding-bottom: 20px;
}

#trust .trust-img {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#trust .trust-img img {
  width: 60px;
  margin: 10px 15px;
}
/*Blog*/
 
#blog-container {
  flex-direction: column;
}

#blog-container .blogs {
  width: 100%;
}

#blog-container .cate {
  width: 100%;
}

/*post*/

#blog-container .blogpost {
  width: 100%;
  margin-top: 70px;
}

#course-acc .overview .course-head .c-name{
  width: 50%;
}

#course-acc .overview .course-head .c-name h2{
  font-size: 26px;
}

#course-acc .overview .course-head .c-name span{
  font-size: 22px;
}

#course-acc .apply {
  width: 100%;
}
 
#contact {
  padding: 8vw 4vw;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#contact .get-in {
  width: 100%;
  margin-bottom: 30px;
}

#contact .form {
  width: 100%;
  padding: 40px 30px;
}

#contact .form .form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

#contact .form .form-row input{
  width: 100%;
}

#faci {
  width: 80%;
  margin-left: 38px;
}

#faci .faci-box1 {
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box2 {
   width: 100%;
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box3 {
  min-width: 20%;
  height: 40vh;
}
#faci .faci-box4 {
  width: 100%;
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box5 {
  width: 100%;
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box6 {
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box7 {
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box8 {
  width: 100%;
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box9 {
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box10 {
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box11 {
  min-width: 30%;
  height: 40vh;
}
#faci .faci-box12 {
  min-width: 30%;
  height: 40vh;
}
}
